﻿/*
by default the namespace + "-" + class name is the css class of your custom control. Periods in the namespace
are replaced with dashes 
You could also specify a different class and set the class in the .cs file like so: this.Attributes.Add("class", "myCustomClass");
*/
.K2Field.ListSequenceDisplay-ListSequenceDisplay
{
	/* e.g. background-color: inherit; */
}

.tree li.listsequencedisplay-control > a,
.tree li.listsequencedisplay-control > span,
.tree li.listsequencedisplay-control.children > a,
.tree li.listsequencedisplay-control.children.open > a,
.tree li.listsequencedisplay-control.children.closed > a,
.tree li.listsequencedisplay-control.children>span,
/* Rules Designer: Action configuration target mappings screens where the control has been dropped (2) */
.token-input .entity.icon.listsequencedisplay-control .entity-text,
/* Rules Designer: Navigate to Form action in the URL preview (3) */
#FormNavigatePreviewPanel .token.listsequencedisplay-control,
/* View/Form Designer: Droppable control's list on the right and the change control popup list(4) */
.toolboxitem.listsequencedisplay-control,
/* Runtime: List View filter mappings popup target dropped control (5) */
.theme-entry .drop-item.listsequencedisplay-control,
/* Runtime: List View filter mappings popup context tree (6) */
.theme-entry .tree li.listsequencedisplay-control > a,
.theme-entry .tree li.listsequencedisplay-control.children.open > a,
.theme-entry .tree li.listsequencedisplay-control.children.closed > a,
.theme-entry .tree li.listsequencedisplay-control > span,
/* Rule Designer: Action hot spot context menu (7) */
.menu a.menu-item.control-listsequencedisplay span.menu-item-icon,
/* Rule Designer: Action configuration target mappings tree (8) */
.input-control.icon-control.listsequencedisplay-control .input-control-icon,
/* Rule Designer: Transfer data action configuration target mappings screen dropped item (9) */
.drop-item.listsequencedisplay-control,
/* View Designer: While dragging and dropping control on to the canvas (10) */
a.ui-draggable-dragging.listsequencedisplay-control
{
    background-image:url(<%= WebResource("K2Field.ListSequenceDisplay.icon.png")%>);
}